/*EditConsultant.module.css*/

.formContainer {
  position: fixed;
  top: 54%;
  right: 20px;
  transform: translateY(-50%);
  width: 100%;
  max-width: 400px;
  height: 80%;
  background-color: #242424; /* Card background */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column; /* Allows stacking scrollArea and bottomArea */
}

.scrollArea {
  flex: 1; /* Takes up remaining space above bottomArea */
  overflow-y: auto;
  padding: 20px;
}

.bottomArea {
  flex-shrink: 0; /* Prevents it from shrinking */
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.1); /* Match container style */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional, subtle top shadow */
}

.title {
  text-align: center;
  margin-bottom: 20px;
   margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  margin-bottom: 5px;
  color: #ddd; /* Lighter text for labels */
}

.formGroup input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #333; /* Matches 'kortti' color */
  color: #fff; /* Text color for readability */
  border: 1px solid #242424; /* Matches 'card background' */
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.formGroup input::placeholder {
  color: #b3b3b3; /* Subtle placeholder color */
}

.formGroup input:focus {
  border-color: #494848; /* Slightly highlighted border */
  background-color: #202020; /* Subtle darkening for focus effect */
}

.buttonContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 1100;
}

.saveButton, .cancelButton {
  background: #333; /* Dark button background */
  color: #fff; /* White text */
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease;
  font-size: 14px;
}

.saveButton:hover {
  background-color: #45a049; /* Hover effect for save */
}

.cancelButton:hover {
  background-color: #e53935; /* Hover effect for cancel */
}
