/* index.css */

/* Reset some default styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Base font size for responsive design */
  line-height: 1.5;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #202020; /* Dark background */
  color: rgba(255, 255, 255, 0.87); /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  transition: background-color 0.3s ease;
}




/* Light mode preferences */
@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff; /* Light background */
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
